<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
</head>
<body>
    <h1>{{title}}</h1>
    <p>{{msg}}</p>
    <div>
        <form action="/" method="post">
            <input type="text" name="msg">
            <input type="submit" name="action" value="送信">
            <input type="submit" name="action" value="リセット" >
        </form>
    <ul>
        
        {% for msg_list in msg_lists %}
            <li>{{msg_list}}</li>
        {% endfor %}
    </ul>
    </div>
</body>
</html>